<form action='/users' method='post' id='new-user-form'>
  <input type='text' name='first_name' placeholder='First Name'>
  <input type='text' name='last_name' placeholder='Last Name'>
  <input type='text' name='username' placeholder='Username'>
  <input type='text' name='email' placeholder='Email'>
  <input type='text' name='profile_pic' placeholder='Profile Pic'>
  <input type='password' name='password' placeholder='password'>
  <input type='submit' name='new-user-form-submit' value='sign up'>
</form>
