<section id='intro'>
  <h2>How well do your friends know you?</h2>
  <p>Find out with Hotseat, the laugh-out-loud question game. Perfect for birthday parties, bachelorettes, or a girls night in! Have a best friend, family, or SO fill out the questionaire about you or a friend, then play the game live and see how well your answers match up.</p>
</section>
<section id='scroll-bar'>
  <img src='/imgs/ladies-laughing.jpg' id='banner-image'>
</section>